
@model FilmsCo.Models.Film

@{
    ViewBag.Title = "Добавить фильм";
}

<div class="form">

    @using (Html.BeginForm("SaveFilm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
            <h3>Добавить кинофильм</h3>
            <div class="data">
                <div class="row">
                    <div class="col-md-3">
                        <label>Название</label>
                    </div>
                    @Html.TextBoxFor(x => x.Name, new { @class = "col-md-9 finp" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Описание</label>
                    </div>
                    @Html.TextBoxFor(x => x.Description, new { @class = "col-md-9 finp" })
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <label>Жанр</label>
                    </div>
                    @Html.TextBoxFor(x => x.Genre, new { @class = "col-md-9 finp" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Режиссер</label>
                    </div>
                    @Html.TextBoxFor(x => x.Producer, new { @class = "col-md-9 finp" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Год выпуска</label>
                    </div>
                        @Html.TextBoxFor(x => x.Year, new { @class = "col-md-9 mt" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Добавил</label>
                    </div>
                        @Html.TextBoxFor(x => x.Owner, new { @class = "col-md-9 finp" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Постер</label>
                    </div>
                        @Html.TextBoxFor(x => x.File, new { type = "file" })
                </div>

                <input type="submit" value="Добавить" />
            </div>
    }
</div>
<style>
    .form {
        position: absolute;
        left: 50%;
        width: 800px;
        margin-left: -400px;
        background: #888;
        border-radius: 5px;
        top: 100px;
    }

    form {
        background: #fff;
        border-radius: 2px;
        margin: 5px;
    }

    .data {
        border-top: 1px solid #d5d5d5;
        padding: 10px 15px;
    }

        .data div {
            margin: 8px 0;
        }

    h3 {
        padding: 10px 15px;
        margin: 0;
    }

    label {
        min-width: 100px;
        display: block;
        float: left;
    }

    input[type="submit"] {
        margin-top: 10px;
    }
</style>
